* { 
    margin: 0; 
    padding: 0; 
}

body { 
    font: 16px Helvetica, Sans-Serif; 
    line-height: 24px; 
    background: #fff9ec; 
}

.clear { 
    clear: both; 
}

#page-wrap { 
    width: 900px; 
    margin: 30px auto 60px; 
}

#pic {
    width: 40%; /* Makes the image width fill its container */
    height: auto; /* Keeps the aspect ratio intact */
    max-width: 1000px; /* Maximum width for the image */
    margin: 0 auto; /* Centers the image horizontally */
    display: block; /* Ensures the image behaves like a block element */
    border-radius: 100px; /* Optional: rounds the corners for a softer look */
}


h1 { 
    margin: 50px 0 16px 0; 
    padding: 0 0 16px 0; 
    font-size: 42px; 
    font-weight: bold; 
    letter-spacing: -2px; 
    border-bottom: 1px solid #999; 
}

h2 { 
    font-size: 20px; 
    margin: 0 0 6px 0; 
    position: relative; 
}

h2 span { 
    position: absolute; 
    bottom: 0; 
    right: 0; 
    font-style: italic; 
    font-family: Georgia, Serif; 
    font-size: 16px; 
    color: #999; 
    font-weight: normal; 
}

p { 
    margin: 0 0 16px 0; 
}

a { 
    color: #999; 
    text-decoration: none; 
    border-bottom: 1px dotted #999; 
}

a:hover { 
    border-bottom-style: solid; 
    color: black; 
}

ul { 
    margin: 0 0 32px 17px; 
}


#objective { 
    width: 5000px; 
    float: left; 
}

#objective p { 
    font-family: Georgia, Serif; 
    font-style: italic; 
    color: #666; 
}

dt { 
    font-style: italic; 
    font-weight: bold; 
    font-size: 18px; 
    text-align: right; 
    padding: 0 26px 0 0; 
    width: 150px; 
    float: left; 
    height: 100px; 
    border-right: 1px solid #999;  
}

dd { 
    width: 600px; 
    float: right; 
}

dd.clear { 
    float: none; 
    margin: 0; 
    height: 15px; 
}

#footer {
    background-color: #614a37; /* Dark background for footer */
    color: white; /* White text for contrast */
    padding: 3px; /* Add some padding */
    font-size: 14px; /* Smaller font size for footer */
    text-align: center; /* Center text for better visual balance */
}

.footer-content {
    display: flex;
    justify-content: space-between; /* Space between the left and right sections */
    flex-wrap: wrap; /* Make sure content wraps on smaller screens */
}

.footer-left, .footer-right {
    flex: 1; /* Each section takes up equal space */
    margin: 5px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Stack content vertically on smaller screens */
        align-items: center;
    }
}
